<div class="text-center">
    <h1 class="h4 text-gray-900 mb-4">Add data user game</h1>
</div>
<form class="user">
    <div class="form-group">
        <div class="col-sm-6 mb-3">
            <input name="fullname" type="text" class="form-control form-control-user" id="exampleFirstName"
                placeholder="Fullname">
        </div>
        <div class="col-sm-6 mb-3">
            <input name="address" type="text" class="form-control form-control-user" id="exampleLastName"
                placeholder="Address">
        </div>
        <div class="col-sm-6">
            <input name="jenis_kelamin" type="text" class="form-control form-control-user" id="exampleLastName"
                placeholder="Gender">
        </div>
    </div>

    <button class="btn btn-primary mx-3">Add Data</button>
</form>